@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
.headerForProjects{ 
  padding: 20px; 
  text-align: left;
  color: black; 
  font-size: 30px; 
  font-family: 'Pixelify Sans', sans-serif;
  text-decoration: none;
  max-width: 100%; 
  height: auto; 
}
/*header for Hello I'm Rishi Sheth*/
.header {
  padding: 190px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
  font-family: 'Pixelify Sans', sans-serif;
  padding-top: 1%;
  text-decoration: none;
  max-width: 100%; 
  height: auto; 
}
/*skills stylizing*/
.skills{ 
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 30px;
  padding: 20px; 
}
/*rounded images + animations*/
.imageContainer{ 
  display: inline-block; 
}
.imagestylizing{ 
  border-radius: 100px; 
}
.imagestylizing:hover{ 
  opacity: 0.6; 
  transition: 0.8s; 
}
.centered{ 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}



/*nav bar*/
.name{  
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px; 
  font-size: 20px;
  font-family: 'Pixelify Sans', sans-serif; 
  display: flex; 
  gap: 40px; 
  text-decoration: none;
  max-width: 100%; 
  height: auto; 
}
/*border for each nav bar element*/
.name_spacing{
  opacity: 0.3;
  transition: 0.3s; 
  text-decoration: none;
  max-width: 100%; 
  height: auto; 
}
/*animation for hover*/
.name_spacing:hover{ 
  opacity: 1; 
  text-decoration: none;
  max-width: 100%; 
  height: auto; 
}
/*makes sure that link doesn't go purple when clicked*/
.link{
  color: blue; 
}
/*added smooth scrolling for nav bar*/
html {
  scroll-behavior: smooth;
}

.linkForNav{ 
  color: black; 
  text-decoration: none;
}
/*stylizing for projects*/
.projects{ 
  padding: 20px; 
  text-align: left;
  color: black; 
  font-size: 30px; 
  font-family: 'Pixelify Sans', sans-serif;
  border: black;
  border-width: 100%;
  max-width: 100%; 
  height: auto; 
}
/*stylizing list for projects*/
.liTwo{
  padding: 40px;
  text-align: left;
  color: black;
  font-size: 30px;
  font-family: 'Pixelify Sans', sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  width: 30%;                  
  box-sizing: border-box; 
  display: inline-table;
  max-width: 100%; 
  height: auto; 
}


/*fade in animation*/
.fade-in-image { 
  animation: fadeIn 2s; 
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


