@font-face {
    font-family: 'myFirstFont';
    src: url('sansation_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 50dvh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'myFirstFont', sans-serif;
}
.container2:hover{ 
    background-color: gray;  
    transform: scale(1.05);      
    transition: all 0.3s ease;  
}

.container2{ 
    align-items: center;
    font-family: 'myFirstFont', sans-serif;
    border-style: solid;
    height: 320px; 
    width: 260px;
    border-radius: 10px;
    white-space: nowrap;
    display: flex; 
}