@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
.headerForProjects{ 
  padding: 20px; 
  text-align: left;
  color: black; 
  font-size: 30px; 
  font-family: 'Pixelify Sans', sans-serif;
}
/*header for Hello I'm Rishi Sheth*/
.header {
  padding: 190px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
  font-family: 'Pixelify Sans', sans-serif;
  padding-top: 1%;
}
/*nav bar*/
.name{  
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px; 
  font-size: 20px;
  font-family: 'Pixelify Sans', sans-serif; 
  display: flex; 
  gap: 40px; 
}
/*border for each nav bar element*/
.name_spacing{
  opacity: 0.3;
  transition: 0.3s; 
}
/*animation for hover*/
.name_spacing:hover{ 
  opacity: 1; 
}
/*makes sure that link doesn't go purple when clicked*/
.link{
  color: blue; 
}

.linkForNav{ 
  color: black; 
  text-decoration: white;
}
/*stylizing for projects*/
.projects{ 
  padding: 20px; 
  text-align: left;
  color: black; 
  font-size: 30px; 
  font-family: 'Pixelify Sans', sans-serif;
  border: black;
  border-width: 100%;
}
/*stylizing list for projects*/
.liTwo{
  padding: 30px;
  text-align: left;
  color: black;
  font-size: 30px;
  font-family: 'Pixelify Sans', sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  width: 30%;                  
  box-sizing: border-box; 
  display: inline-block;
}

/*fade in animation*/
.fade-in-image { 
  animation: fadeIn 2s; 
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


